<form action="/payment/results">
  <div>
    <label for="apr_input">
      APR
    </label>

    <input id="apr_input" type="text" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="duration_input">
      Number of years
    </label>

    <input id="duration_input" type="text" name="user_duration"
      placeholder="How many years to repay?">
  </div>

  <div>
    <label for="principal_input">
      Principal
    </label>

    <input id="principal_input" type="text" name="user_principal"
      placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>
</form>
