<h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @apr_display %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @duration %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= @principal_display %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment_display %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
