<form action="/square/results">
  <div>
    <label for="square_input">
      Enter a number
    </label>

    <input id="square_input" type="text" name="user_square" placeholder="Square of...">
  </div>

  <button>Calculate square</button>
</form>
