<form action="/square_root/results">
  <div>
    <label for="sqrt_input">
      Enter a number
    </label>

    <input id="sqrt_input" type="text" name="user_sqrt" placeholder="Square root of...">
  </div>

  <button>Calculate square root</button>
</form>
